:root {
	--main-color: #2e2f42;
	--sceondary-color: #434455;
	--accent-color: #4d5ae5;
	--white-primary: #ffffff;
	--white-secondary: #f4f4fd;
	--active-color: #404bbf;
	--btn-color: #e7e9fc;
}
body {
	max-width: 1440px;
	margin: 0 auto;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
	background-color: var(--white-primary);
}
ul,
h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.sect-title {
	margin-bottom: 72px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
	color: var(--main-color);
	text-align: center;
	text-transform: capitalize;
}

.item-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--main-color);
}

footer {
	background-color: var(--main-color);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

/* Logo */
.logo {
	margin: 0 76px 0 0px;
	font-family: Raleway, sans-serif;
	font-style: normal;
	text-decoration: none;
	text-transform: uppercase;

	font-size: 18px;
	line-height: 1.3;
	font-weight: 800;
	color: var(--main-color);
}
.accent-logo {
	color: var(--accent-color);
}

.container {
	width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

/* Menu */
header {
	border-bottom: 1px solid var(--btn-color);
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}

.contacts {
	display: flex;
	align-items: center;
}
.contacts:not(:last-child) {
	margin-left: 100px;
}

.menu {
	display: flex;
}

.menu-item:not(:first-child) {
	margin-left: 40px;
}
.menu-item {
	position: relative;
	padding: 24px 0;
	letter-spacing: 0.02em;
}

.active {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.active::after {
	content: " ";
	position: absolute;
	bottom: -1px;
	left: 0;
	margin-top: 24px;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--active-color);
}
.menu-link {
	color: var(--main-color);
	font-weight: 500;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:is(:hover, :focus) {
	color: var(--active-color);
}

.active {
	color: var(--active-color);
}

.contacts {
	gap: 40px;
}
.contact-item {
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	color: var(--sceondary-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:is(:hover, :focus, :active) {
	color: var(--accent-color);
}

/* Hero section */
.hero {
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 188px 0;
}

.hero-title {
	text-align: center;
	margin: 0 auto;
}

.hero-title {
	width: 496px;
	text-align: center;
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	color: #ffffff;
	margin-bottom: 48px;
}
/* Main Button */
.main-btn {
	display: block;
	margin: 0 auto;
	padding: 16px 32px;
	border-radius: 4px;
	border-width: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-size: 16px;
	background-color: var(--accent-color);
	color: #ffffff;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:is(:hover, :focus) {
	background-color: var(--active-color);
}

/* Features */
.features {
	padding-top: 120px;
}
.features-list {
	display: flex;
	justify-content: center;
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 112px;
	margin-bottom: 8px;
	border-radius: 4px;
	background-color: var(--white-secondary);
}

.feature-icon {
	width: 64px;
	height: 64px;
}

.feature-item {
	width: 264px;
}

.feature-item:not(:last-child) {
	margin-right: 24px;
}

.feature-title {
	margin-bottom: 8px;
}

/* Works section */
.work-examp {
	padding: 120px 0;
}

.work-images {
	display: flex;
	justify-content: center;
	align-items: center;
}

.work-image:not(:last-child) {
	margin-right: 24px;
}

/* Team section */
.team {
	background-color: var(--white-secondary);
	padding: 120px 0;
}

.worker-cards {
	display: flex;
	justify-content: center;
	align-items: center;
}
.worker-card {
	background-color: #fff;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}
.worker-card:not(:last-child) {
	margin-right: 24px;
}

.worker-description {
	padding: 32px 0;
	text-align: center;
}
.worker-name {
	margin-bottom: 8px;
}
.worker-function {
	margin-bottom: 8px;
}
.worker-socials {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

.worker-social-item {
	width: 40px;
	height: 40px;
}

.worker-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: var(--accent-color);
	border-radius: 50%;
	color: var(--white-primary);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.worker-social-link:is(:hover, :focus) {
	background-color: var(--active-color);
}
.worker-social-icon {
	fill: currentColor;
}

/* Costumers */
.customers {
	padding-top: 130px;
	padding-bottom: 120px;
}
.customer-list {
	display: flex;
	align-items: center;
	gap: 24px;
}

.customer-item {
	width: 168px;
	height: 88px;
}

.customer-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	border: 1px solid #8e8f99;
	color: #8e8f99;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:is(:hover, :focus) {
	border-color: var(--active-color);
	color: var(--active-color);
}
.customer-logo {
	fill: currentColor;
}

/* Footer */
.footer {
	display: flex;
	padding: 100px 0;
	min-width: 264px;
}
.footer-container {
	display: flex;
	align-items: flex-start;
}

.logo-footer {
	display: block;
	margin-bottom: 16px;
	font-style: normal;
	font-family: Raleway, sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.17;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: var(--white-secondary);
}
.footer-text {
	color: var(--btn-color);
	width: 264px;
}

.footer-title {
	margin-bottom: 16px;
	color: var(--white-primary);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
}

/* Socials block */
.socials {
	display: block;
	margin-left: 120px;
}
.footer-socials-list {
	display: flex;
	gap: 16px;
}

.footer-social-item {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
}

.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	color: var(--white-primary);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
	fill: currentColor;
}

.footer-social-link:is(:hover, :focus) {
	background-color: #31d0aa;
}

/* Subscribtion block */
.subscribe-block {
	display: flex;
	align-items: flex-end;
}
.subscribe-panel {
	margin-left: 80px;
}
.subscribe-input {
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: transparent;
	min-height: 40px;
	min-width: 264px;
	padding-left: 16px;
	color: var(--white-primary);
}

.subscribe-btn {
	display: flex;
	align-items: center;
	max-height: 40px;
	padding: 8px 24px;
	margin-left: 24px;
	border-radius: 4px;
	border-width: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-size: 16px;
	background-color: var(--accent-color);
	color: #ffffff;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover {
	background-color: var(--active-color);
}
.tg-icon {
	fill: #fff;
	margin-left: 16px;
}
/* Portfolio */
/* Filters */
.work-examples {
	padding: 96px 0 120px 0;
}
.filters {
	display: flex;
	margin-bottom: 72px;
	justify-content: center;
}

.filter-item:not(:last-child) {
	margin-right: 24px;
}
.btn {
	padding: 12px 24px;
	border: 1px solid;
	border-radius: 4px;
	font-weight: 500;
	line-height: 1.5;
	color: var(--accent-color);
	background-color: var(--white-secondary);
	border-color: var(--btn-color);
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:is(:hover, :focus, :active) {
	background-color: var(--active-color);
	color: var(--white-primary);
	border-color: var(--active-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Work list */
.work-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 48px;
	column-gap: 24px;
	justify-content: center;
}
.work-filter {
	color: var(--sceondary-color);
}

.work-name {
	padding: 32px 16px;
	border: 1px solid var(--btn-color);
	border-top: none;
}
.work-card {
	display: block;

	background: var(--white-primary);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-card:is(:hover, :focus) .overlay {
	transform: translatex(0);
}

.work-card:is(:hover, :focus) {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.work-title {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--main-color);
}
.work-thumb {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: var(--accent-color);
	color: var(--white-secondary);
}

.work-desc {
	margin: 46px 32px;
}

/* Hidden elements */

.hidden-visually {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

/* Modal&Backdrop */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(46, 47, 66, 0.4);
	transition: opacity 250ms cubic-bezier(0.39, 0.83, 0.89, 0.92);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 408px;
	min-height: 576px;
	background-color: #fff;
}

.close-modal {
	position: absolute;
	top: 0;
	right: 0;
	margin: 24px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: var(--btn-color);
	color: #000;
	border: 1px solid rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:is(:hover, :focus) {
	background-color: var(--active-color);
	color: #fff;
}

.close-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: currentColor;
}

/* Inputs */

.callback-title {
	margin-top: 72px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 34px;
}

.form-field {
	position: relative;
	display: block;
	margin: 26px 24px;
}
.input {
	width: 360px;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 38px;
}

.input:last-child {
	padding: 8px 16px;
	height: 120px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	fill: var(--main-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .input-icon {
	fill: var(--accent-color);
}

.form-field:focus-within > .input {
	border-color: var(--accent-color);
	outline-color: var(--accent-color);
}

.input-name {
	position: absolute;
	bottom: 100%;
	left: 0;
	color: #8e8f99;
	font-size: 12px;
	line-height: 1.3;
}

.comment {
	resize: none;
}

.checkbox {
	position: absolute;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.privacy {
	display: flex;
	align-items: center;
	justify-content: center;
}
.checkbox-custom {
	display: block;
	width: 16px;
	height: 16px;
	border: 1.25px solid var(--main-color);
	border-radius: 2px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-text {
	margin-left: 8px;
	color: #757575;
	font-size: 12px;
	line-height: 1.33;
}

.checkbox:hover {
	border-color: #000;
}

.checkbox:checked + .checkbox-custom {
	background-color: var(--active-color);
	border-color: transparent;
	background-image: url(../images/checkbox.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	background-origin: border-box;
}

.submit-btn {
	display: block;
	padding: 16px 32px;
	margin: 24px 120px;
	min-width: 169px;
	border-radius: 4px;
	border-width: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-size: 16px;
	background-color: var(--accent-color);
	color: #ffffff;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover {
	background-color: var(--active-color);
}
